<footer class="Footer">
  <div class="contentWrapper container">
    <div class="contact">
      <p class="headerText">
        <span>Contact information &amp; support:</span>
      </p>
      <div class="footerElement">
        <h4 class="minorHeader contactHeader"><span>E-mail</span></h4>
        <ul class="list">
          <li><a href="mailto:help.ee@smart-id.com" class="link">help.ee@smart-id.com</a></li>
          <li><a href="mailto:help.lv@smart-id.com" class="link">help.lv@smart-id.com</a></li>
          <li><a href="mailto:help.lt@smart-id.com" class="link">help.lt@smart-id.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>